In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path
from pandas.api.types import CategoricalDtype

plt.rcParams['figure.figsize'] = [12, 7]
sns.set()

In [2]:
Zambia_file = Path('/storage/earth_data/home/ee21xs/XiaoShu/Dissertation/Data_Zambia.xlsx')
df_Zambia = pd.read_excel(Zambia_file, index_col=0, engine='openpyxl')
display(df_Zambia.head())

,Gender,Age,Age group,Education level,Conservation Agriculture,Information,Wealth Index,wealth index rank,Intercrop,Cover crops/green manure,Composting/manure making,Terracing,Water harvesting,Integrated crop-livestock management,Zerotillage,Mulching,Rotation,Plantingbasins,Impact resistance index,Women group
setofdemographicsmembers_repeat,,,,,,,,,,,,,,,,,,,,
uuid:00f4596d-a317-4c8c-a4a5-eb566726fe02/members_repeat,1,26,1,5,2,5,-0.643474,1,0,0,0,0,0,0,0,0,0,0,0,2
uuid:012e93f3-065a-42c8-9ecf-727034a1123f/members_repeat,2,35,2,2,1,6,0.018737,2,0,0,0,0,0,0,0,0,0,1,1,2
uuid:0215378c-9e52-4ba4-873a-127db4bac832/members_repeat,1,25,1,5,1,3,-0.034194,2,0,0,0,0,0,0,0,0,0,0,0,2
uuid:02c50022-6904-419e-8dc4-3f1416ce68aa/members_repeat,1,77,3,2,2,4,0.304329,3,0,0,0,0,0,1,0,0,0,0,1,1
uuid:034a6fa4-ef83-432f-8619-e43fc1d3cbbc/members_repeat,1,66,3,2,1,5,0.595557,4,0,0,0,0,0,1,0,0,0,0,1,1

# Gender & variables

## Age

In [8]:
contingency_table_age=pd.crosstab(df_Zambia["Age group"],df_Zambia["Gender"])
display(contingency_table_age)

Gender       1   2
Age group
1           39   9
2          116  72
3           94  62

In [9]:
chi2_age, p_age, dof_age, expected_age = stats.chi2_contingency(contingency_table_age)
print('Chi Square Statistic = '+str(chi2_age))
print('p-value = '+str(p_age))
print('Degrees of Freedom: '+str(dof_age))
print('Expected frequencies: ')
display(pd.DataFrame(expected_age))

Chi Square Statistic = 7.49688622833576
p-value = 0.023554388818388654
Degrees of Freedom: 2
Expected frequencies:

            0          1
0   30.489796  17.510204
1  119.418367  68.581633
2   99.091837  56.908163

## Education Level

In [11]:
contingency_table_edu=pd.crosstab(df_Zambia["Education level"],df_Zambia["Gender"])
display(contingency_table_edu)

Gender            1   2
Education level
1                 6  11
2                81  66
3                62  27
4                64  22
5                32  11
6                 4   6

In [12]:
chi2_edu, p_edu, dof_edu, expected_edu = stats.chi2_contingency(contingency_table_edu)
print('Chi Square Statistic = '+str(chi2_edu))
print('p-value = '+str(p_edu))
print('Degrees of Freedom: '+str(dof_edu))
print('Expected frequencies: ')
display(pd.DataFrame(expected_edu))

Chi Square Statistic = 20.78956707165682
p-value = 0.0008876591136766968
Degrees of Freedom: 5
Expected frequencies:

           0          1
0  10.798469   6.201531
1  93.375000  53.625000
2  56.533163  32.466837
3  54.627551  31.372449
4  27.313776  15.686224
5   6.352041   3.647959

## Wealth Index

In [14]:
contingency_table_wi=pd.crosstab(df_Zambia["wealth index rank"],df_Zambia["Gender"])
display(contingency_table_wi)

Gender              1   2
wealth index rank
1                  52  52
2                  57  35
3                  74  31
4                  66  25

In [15]:
chi2_wi, p_wi, dof_wi, expected_wi = stats.chi2_contingency(contingency_table_wi)
print('Chi Square Statistic = '+str(chi2_wi))
print('p-value = '+str(p_wi))
print('Degrees of Freedom: '+str(dof_wi))
print('Expected frequencies: ')
display(pd.DataFrame(expected_wi))

Chi Square Statistic = 13.679940665281359
p-value = 0.00337482050681487
Degrees of Freedom: 3
Expected frequencies:

           0          1
0  66.061224  37.938776
1  58.438776  33.561224
2  66.696429  38.303571
3  57.803571  33.196429

## CA

In [16]:
contingency_table_CA=pd.crosstab(df_Zambia["Conservation Agriculture"],df_Zambia["Gender"])
display(contingency_table_CA)

Gender                      1   2
Conservation Agriculture
1                         190  83
2                          59  60

In [17]:
chi2_CA, p_CA, dof_CA, expected_CA = stats.chi2_contingency(contingency_table_CA)
print('Chi Square Statistic = '+str(chi2_CA))
print('p-value = '+str(p_CA))
print('Degrees of Freedom: '+str(dof_CA))
print('Expected frequencies: ')
display(pd.DataFrame(expected_CA))

Chi Square Statistic = 13.479902035972469
p-value = 0.00024113239087722378
Degrees of Freedom: 1
Expected frequencies:

            0          1
0  173.410714  99.589286
1   75.589286  43.410714

## Information

In [18]:
contingency_table_IR=pd.crosstab(df_Zambia["Information"],df_Zambia["Gender"])
display(contingency_table_IR)

Gender        1   2
Information
1             1   0
2            12   6
3            55  17
4            51  28
5            56  32
6            17  10
7            57  50

In [19]:
chi2_IR, p_IR, dof_IR, expected_IR = stats.chi2_contingency(contingency_table_IR)
print('Chi Square Statistic = '+str(chi2_IR))
print('p-value = '+str(p_IR))
print('Degrees of Freedom: '+str(dof_IR))
print('Expected frequencies: ')
display(pd.DataFrame(expected_IR))

Chi Square Statistic = 10.688236028134966
p-value = 0.09850316420274774
Degrees of Freedom: 6
Expected frequencies:

           0          1
0   0.635204   0.364796
1  11.433673   6.566327
2  45.734694  26.265306
3  50.181122  28.818878
4  55.897959  32.102041
5  17.150510   9.849490
6  67.966837  39.033163

## Women group

In [20]:
contingency_table_wg=pd.crosstab(df_Zambia["Women group"],df_Zambia["Gender"])
display(contingency_table_wg)

Gender         1    2
Women group
1             67   28
2            182  115

In [21]:
chi2_wg, p_wg, dof_wg, expected_wg = stats.chi2_contingency(contingency_table_wg)
print('Chi Square Statistic = '+str(chi2_wg))
print('p-value = '+str(p_wg))
print('Degrees of Freedom: '+str(dof_wg))
print('Expected frequencies: ')
display(pd.DataFrame(expected_wg))

Chi Square Statistic = 2.2718793896596003
p-value = 0.1317400584746303
Degrees of Freedom: 1
Expected frequencies:

            0           1
0   60.344388   34.655612
1  188.655612  108.344388

# Variable & Impact resistence index

## Age

In [22]:
contingency_table_ager=pd.crosstab(df_Zambia["Age group"],df_Zambia["Impact resistance index"])
display(contingency_table_ager)

Impact resistance index    0   1   2   3  4  5
Age group
1                         31  13   3   1  0  0
2                        102  51  23  10  1  1
3                         73  55  20   5  2  1

In [23]:
chi2_ager, p_ager, dof_ager, expected_ager = stats.chi2_contingency(contingency_table_ager)
print('Chi Square Statistic = '+str(chi2_ager))
print('p-value = '+str(p_ager))
print('Degrees of Freedom: '+str(dof_ager))
print('Expected frequencies: ')
display(pd.DataFrame(expected_ager))

Chi Square Statistic = 8.698903304668542
p-value = 0.5608971906072078
Degrees of Freedom: 10
Expected frequencies:

           0          1          2         3         4         5
0  25.224490  14.571429   5.632653  1.959184  0.367347  0.244898
1  98.795918  57.071429  22.061224  7.673469  1.438776  0.959184
2  81.979592  47.357143  18.306122  6.367347  1.193878  0.795918

## Education

In [27]:
contingency_table_edur=pd.crosstab(df_Zambia["Education level"],df_Zambia["Impact resistance index"])
display(contingency_table_edur)

Impact resistance index   0   1   2  3  4  5
Education level
1                        11   5   0  1  0  0
2                        79  47  15  6  0  0
3                        45  25  14  3  2  0
4                        45  27  10  3  1  0
5                        22  12   6  2  0  1
6                         4   3   1  1  0  1

In [28]:
chi2_edur, p_edur, dof_edur, expected_edur = stats.chi2_contingency(contingency_table_edur)
print('Chi Square Statistic = '+str(chi2_edur))
print('p-value = '+str(p_edur))
print('Degrees of Freedom: '+str(dof_edur))
print('Expected frequencies: ')
display(pd.DataFrame(expected_edur))

Chi Square Statistic = 32.767071603039746
p-value = 0.1369948612725443
Degrees of Freedom: 25
Expected frequencies:

           0          1          2         3         4         5
0   8.933673   5.160714   1.994898  0.693878  0.130102  0.086735
1  77.250000  44.625000  17.250000  6.000000  1.125000  0.750000
2  46.770408  27.017857  10.443878  3.632653  0.681122  0.454082
3  45.193878  26.107143  10.091837  3.510204  0.658163  0.438776
4  22.596939  13.053571   5.045918  1.755102  0.329082  0.219388
5   5.255102   3.035714   1.173469  0.408163  0.076531  0.051020

## Wealth index

In [25]:
contingency_table_wir=pd.crosstab(df_Zambia["wealth index rank"],df_Zambia["Impact resistance index"])
display(contingency_table_wir)

Impact resistance index   0   1   2  3  4  5
wealth index rank
1                        73  26   2  3  0  0
2                        53  28   9  2  0  0
3                        46  30  16  9  3  1
4                        34  35  19  2  0  1

In [26]:
chi2_wir, p_wir, dof_wir, expected_wir = stats.chi2_contingency(contingency_table_wir)
print('Chi Square Statistic = '+str(chi2_wir))
print('p-value = '+str(p_wir))
print('Degrees of Freedom: '+str(dof_wir))
print('Expected frequencies: ')
display(pd.DataFrame(expected_wir))

Chi Square Statistic = 48.987178225237614
p-value = 1.7604308370578922e-05
Degrees of Freedom: 15
Expected frequencies:

           0          1          2         3         4         5
0  54.653061  31.571429  12.204082  4.244898  0.795918  0.530612
1  48.346939  27.928571  10.795918  3.755102  0.704082  0.469388
2  55.178571  31.875000  12.321429  4.285714  0.803571  0.535714
3  47.821429  27.625000  10.678571  3.714286  0.696429  0.464286

## CA

In [29]:
contingency_table_CAr=pd.crosstab(df_Zambia["Conservation Agriculture"],df_Zambia["Impact resistance index"])
display(contingency_table_CAr)

Impact resistance index     0   1   2   3  4  5
Conservation Agriculture
1                         128  86  40  14  3  2
2                          78  33   6   2  0  0

In [30]:
chi2_CAr, p_CAr, dof_CAr, expected_CAr = stats.chi2_contingency(contingency_table_CAr)
print('Chi Square Statistic = '+str(chi2_CAr))
print('p-value = '+str(p_CAr))
print('Degrees of Freedom: '+str(dof_CAr))
print('Expected frequencies: ')
display(pd.DataFrame(expected_CAr))

Chi Square Statistic = 16.994233661444653
p-value = 0.004510745989489659
Degrees of Freedom: 5
Expected frequencies:

            0       1          2          3         4         5
0  143.464286  82.875  32.035714  11.142857  2.089286  1.392857
1   62.535714  36.125  13.964286   4.857143  0.910714  0.607143

## Information

In [36]:
contingency_table_IRr=pd.crosstab(df_Zambia["Information"],df_Zambia["Impact resistance index"])
display(contingency_table_IRr)

Impact resistance index   0   1   2  3  4  5
Information
1                         0   0   0  0  0  1
2                         9   3   3  2  0  1
3                        21  25  19  5  2  0
4                        35  30   7  6  1  0
5                        53  23  10  2  0  0
6                        15  10   1  1  0  0
7                        73  28   6  0  0  0

In [37]:
chi2_IRr, p_IRr, dof_IRr, expected_IRr = stats.chi2_contingency(contingency_table_IRr)
print('Chi Square Statistic = '+str(chi2_IRr))
print('p-value = '+str(p_IRr))
print('Degrees of Freedom: '+str(dof_IRr))
print('Expected frequencies: ')
display(pd.DataFrame(expected_IRr))

Chi Square Statistic = 261.08515146893865
p-value = 1.0840025920533335e-38
Degrees of Freedom: 30
Expected frequencies:

           0          1          2         3         4         5
0   0.525510   0.303571   0.117347  0.040816  0.007653  0.005102
1   9.459184   5.464286   2.112245  0.734694  0.137755  0.091837
2  37.836735  21.857143   8.448980  2.938776  0.551020  0.367347
3  41.515306  23.982143   9.270408  3.224490  0.604592  0.403061
4  46.244898  26.714286  10.326531  3.591837  0.673469  0.448980
5  14.188776   8.196429   3.168367  1.102041  0.206633  0.137755
6  56.229592  32.482143  12.556122  4.367347  0.818878  0.545918

## Women group

In [38]:
contingency_table_wgr=pd.crosstab(df_Zambia["Women group"],df_Zambia["Impact resistance index"])
display(contingency_table_wgr)

Impact resistance index    0   1   2   3  4  5
Women group
1                         32  35  21   5  0  2
2                        174  84  25  11  3  0

In [39]:
chi2_wgr, p_wgr, dof_wgr, expected_wgr = stats.chi2_contingency(contingency_table_wgr)
print('Chi Square Statistic = '+str(chi2_wgr))
print('p-value = '+str(p_wgr))
print('Degrees of Freedom: '+str(dof_wgr))
print('Expected frequencies: ')
display(pd.DataFrame(expected_wgr))

Chi Square Statistic = 29.363024298732302
p-value = 1.9678637721746216e-05
Degrees of Freedom: 5
Expected frequencies:

            0          1          2          3         4         5
0   49.923469  28.839286  11.147959   3.877551  0.727041  0.484694
1  156.076531  90.160714  34.852041  12.122449  2.272959  1.515306

# Gender & Impact resistance index

In [3]:
contingency_table_GH=pd.crosstab(df_Zambia["Gender"],df_Zambia["Impact resistance index"])
display(contingency_table_GH)
chi2_GH, p_GH, dof_GH, expected_GH = stats.chi2_contingency(contingency_table_GH)
print('Chi Square Statistic = '+str(chi2_GH))
print('p-value = '+str(p_GH))
print('Degrees of Freedom: '+str(dof_GH))
print('Expected frequencies: ')
display(pd.DataFrame(expected_GH))

Impact resistance index    0   1   2   3  4  5
Gender
1                        115  81  38  11  3  1
2                         91  38   8   5  0  1

Chi Square Statistic = 15.628660343111926
p-value = 0.007988249590542127
Degrees of Freedom: 5
Expected frequencies:

            0          1          2          3         4         5
0  130.852041  75.589286  29.219388  10.163265  1.905612  1.270408
1   75.147959  43.410714  16.780612   5.836735  1.094388  0.729592

## Age

In [41]:
df_Age_1=df_Zambia[df_Zambia["Age group"] == 1]
df_Age_2=df_Zambia[df_Zambia["Age group"] == 2]
df_Age_3=df_Zambia[df_Zambia["Age group"] == 3]

In [42]:
contingency_table_age1=pd.crosstab(df_Age_1["Gender"],df_Age_1["Impact resistance index"])
display(contingency_table_age1)

Impact resistance index   0   1  2  3
Gender
1                        22  13  3  1
2                         9   0  0  0

In [43]:
chi2_age1, p_age1, dof_age1, expected_age1 = stats.chi2_contingency(contingency_table_age1)
print('Chi Square Statistic = '+str(chi2_age1))
print('p-value = '+str(p_age1))
print('Degrees of Freedom: '+str(dof_age1))
print('Expected frequencies: ')
display(pd.DataFrame(expected_age1))

Chi Square Statistic = 6.074441687344914
p-value = 0.10804411264974959
Degrees of Freedom: 3
Expected frequencies:

         0        1       2       3
0  25.1875  10.5625  2.4375  0.8125
1   5.8125   2.4375  0.5625  0.1875

In [44]:
contingency_table_age2=pd.crosstab(df_Age_2["Gender"],df_Age_2["Impact resistance index"])
display(contingency_table_age2)

Impact resistance index   0   1   2  3  4  5
Gender
1                        59  29  20  7  1  0
2                        43  22   3  3  0  1

In [45]:
chi2_age2, p_age2, dof_age2, expected_age2 = stats.chi2_contingency(contingency_table_age2)
print('Chi Square Statistic = '+str(chi2_age2))
print('p-value = '+str(p_age2))
print('Degrees of Freedom: '+str(dof_age2))
print('Expected frequencies: ')
display(pd.DataFrame(expected_age2))

Chi Square Statistic = 9.879068308982761
p-value = 0.07873521190007772
Degrees of Freedom: 5
Expected frequencies:

          0          1          2         3         4         5
0  62.93617  31.468085  14.191489  6.170213  0.617021  0.617021
1  39.06383  19.531915   8.808511  3.829787  0.382979  0.382979

In [46]:
contingency_table_age3=pd.crosstab(df_Age_3["Gender"],df_Age_3["Impact resistance index"])
display(contingency_table_age3)

Impact resistance index   0   1   2  3  4  5
Gender
1                        34  39  15  3  2  1
2                        39  16   5  2  0  0

In [47]:
chi2_age3, p_age3, dof_age3, expected_age3 = stats.chi2_contingency(contingency_table_age3)
print('Chi Square Statistic = '+str(chi2_age3))
print('p-value = '+str(p_age3))
print('Degrees of Freedom: '+str(dof_age3))
print('Expected frequencies: ')
display(pd.DataFrame(expected_age3))

Chi Square Statistic = 12.1059333949303
p-value = 0.03336472868408113
Degrees of Freedom: 5
Expected frequencies:

           0          1          2         3         4         5
0  43.987179  33.141026  12.051282  3.012821  1.205128  0.602564
1  29.012821  21.858974   7.948718  1.987179  0.794872  0.397436

## Education level

In [48]:
df_edu_1=df_Zambia[df_Zambia["Education level"] == 1]
df_edu_2=df_Zambia[df_Zambia["Education level"] == 2]
df_edu_3=df_Zambia[df_Zambia["Education level"] == 3]
df_edu_4=df_Zambia[df_Zambia["Education level"] == 4]
df_edu_5=df_Zambia[df_Zambia["Education level"] == 5]
df_edu_6=df_Zambia[df_Zambia["Education level"] == 6]

In [49]:
contingency_table_edu1=pd.crosstab(df_edu_1["Gender"],df_edu_1["Impact resistance index"])
display(contingency_table_edu1)
chi2_edu1, p_edu1, dof_edu1, expected_edu1 = stats.chi2_contingency(contingency_table_edu1)
print('Chi Square Statistic = '+str(chi2_edu1))
print('p-value = '+str(p_edu1))
print('Degrees of Freedom: '+str(dof_edu1))
print('Expected frequencies: ')
display(pd.DataFrame(expected_edu1))

Impact resistance index  0  1  3
Gender
1                        3  3  0
2                        8  2  1

Chi Square Statistic = 2.1917355371900826
p-value = 0.33424942990537165
Degrees of Freedom: 2
Expected frequencies:

          0         1         2
0  3.882353  1.764706  0.352941
1  7.117647  3.235294  0.647059

In [50]:
contingency_table_edu2=pd.crosstab(df_edu_2["Gender"],df_edu_2["Impact resistance index"])
display(contingency_table_edu2)
chi2_edu2, p_edu2, dof_edu2, expected_edu2 = stats.chi2_contingency(contingency_table_edu2)
print('Chi Square Statistic = '+str(chi2_edu2))
print('p-value = '+str(p_edu2))
print('Degrees of Freedom: '+str(dof_edu2))
print('Expected frequencies: ')
display(pd.DataFrame(expected_edu2))

Impact resistance index   0   1   2  3
Gender
1                        39  27  11  4
2                        40  20   4  2

Chi Square Statistic = 3.4943164777620295
p-value = 0.32150000304839915
Degrees of Freedom: 3
Expected frequencies:

           0          1         2         3
0  43.530612  25.897959  8.265306  3.306122
1  35.469388  21.102041  6.734694  2.693878

In [51]:
contingency_table_edu3=pd.crosstab(df_edu_3["Gender"],df_edu_3["Impact resistance index"])
display(contingency_table_edu3)
chi2_edu3, p_edu3, dof_edu3, expected_edu3 = stats.chi2_contingency(contingency_table_edu3)
print('Chi Square Statistic = '+str(chi2_edu3))
print('p-value = '+str(p_edu3))
print('Degrees of Freedom: '+str(dof_edu3))
print('Expected frequencies: ')
display(pd.DataFrame(expected_edu3))

Impact resistance index   0   1   2  3  4
Gender
1                        29  18  11  2  2
2                        16   7   3  1  0

Chi Square Statistic = 2.0539149646318107
p-value = 0.7258429638896631
Degrees of Freedom: 4
Expected frequencies:

           0         1         2         3         4
0  31.348315  17.41573  9.752809  2.089888  1.393258
1  13.651685   7.58427  4.247191  0.910112  0.606742

In [52]:
contingency_table_edu4=pd.crosstab(df_edu_4["Gender"],df_edu_4["Impact resistance index"])
display(contingency_table_edu4)
chi2_edu4, p_edu4, dof_edu4, expected_edu4 = stats.chi2_contingency(contingency_table_edu4)
print('Chi Square Statistic = '+str(chi2_edu4))
print('p-value = '+str(p_edu4))
print('Degrees of Freedom: '+str(dof_edu4))
print('Expected frequencies: ')
display(pd.DataFrame(expected_edu4))

Impact resistance index   0   1  2  3  4
Gender
1                        29  22  9  3  1
2                        16   5  1  0  0

Chi Square Statistic = 5.7093539562289575
p-value = 0.22193077555151358
Degrees of Freedom: 4
Expected frequencies:

           0          1        2         3         4
0  33.488372  20.093023  7.44186  2.232558  0.744186
1  11.511628   6.906977  2.55814  0.767442  0.255814

In [53]:
contingency_table_edu5=pd.crosstab(df_edu_5["Gender"],df_edu_5["Impact resistance index"])
display(contingency_table_edu5)
chi2_edu5, p_edu5, dof_edu5, expected_edu5 = stats.chi2_contingency(contingency_table_edu5)
print('Chi Square Statistic = '+str(chi2_edu5))
print('p-value = '+str(p_edu5))
print('Degrees of Freedom: '+str(dof_edu5))
print('Expected frequencies: ')
display(pd.DataFrame(expected_edu5))

Impact resistance index   0   1  2  3  5
Gender
1                        13  10  6  2  1
2                         9   2  0  0  0

Chi Square Statistic = 6.309702134986226
p-value = 0.17718259216321489
Degrees of Freedom: 4
Expected frequencies:

           0         1         2         3         4
0  16.372093  8.930233  4.465116  1.488372  0.744186
1   5.627907  3.069767  1.534884  0.511628  0.255814

In [54]:
contingency_table_edu6=pd.crosstab(df_edu_6["Gender"],df_edu_6["Impact resistance index"])
display(contingency_table_edu6)
chi2_edu6, p_edu6, dof_edu6, expected_edu6 = stats.chi2_contingency(contingency_table_edu6)
print('Chi Square Statistic = '+str(chi2_edu6))
print('p-value = '+str(p_edu6))
print('Degrees of Freedom: '+str(dof_edu6))
print('Expected frequencies: ')
display(pd.DataFrame(expected_edu6))

Impact resistance index  0  1  2  3  5
Gender
1                        2  1  1  0  0
2                        2  2  0  1  1

Chi Square Statistic = 3.0555555555555554
p-value = 0.5485717427595728
Degrees of Freedom: 4
Expected frequencies:

     0    1    2    3    4
0  1.6  1.2  0.4  0.4  0.4
1  2.4  1.8  0.6  0.6  0.6

# Wealth index

In [56]:
df_wi_1=df_Zambia[df_Zambia["wealth index rank"] == 1]
df_wi_2=df_Zambia[df_Zambia["wealth index rank"] == 2]
df_wi_3=df_Zambia[df_Zambia["wealth index rank"] == 3]
df_wi_4=df_Zambia[df_Zambia["wealth index rank"] == 4]

In [57]:
contingency_table_wi1=pd.crosstab(df_wi_1["Gender"],df_wi_1["Impact resistance index"])
display(contingency_table_wi1)
chi2_wi1, p_wi1, dof_wi1, expected_wi1 = stats.chi2_contingency(contingency_table_wi1)
print('Chi Square Statistic = '+str(chi2_wi1))
print('p-value = '+str(p_wi1))
print('Degrees of Freedom: '+str(dof_wi1))
print('Expected frequencies: ')
display(pd.DataFrame(expected_wi1))

Impact resistance index   0   1  2  3
Gender
1                        36  14  1  1
2                        37  12  1  2

Chi Square Statistic = 0.5008781173164735
p-value = 0.9186984507967612
Degrees of Freedom: 3
Expected frequencies:

      0     1    2    3
0  36.5  13.0  1.0  1.5
1  36.5  13.0  1.0  1.5

In [58]:
contingency_table_wi2=pd.crosstab(df_wi_2["Gender"],df_wi_2["Impact resistance index"])
display(contingency_table_wi2)
chi2_wi2, p_wi2, dof_wi2, expected_wi2 = stats.chi2_contingency(contingency_table_wi2)
print('Chi Square Statistic = '+str(chi2_wi2))
print('p-value = '+str(p_wi2))
print('Degrees of Freedom: '+str(dof_wi2))
print('Expected frequencies: ')
display(pd.DataFrame(expected_wi2))

Impact resistance index   0   1  2  3
Gender
1                        30  19  6  2
2                        23   9  3  0

Chi Square Statistic = 2.3706489944537896
p-value = 0.4991216875958423
Degrees of Freedom: 3
Expected frequencies:

           0          1         2        3
0  32.836957  17.347826  5.576087  1.23913
1  20.163043  10.652174  3.423913  0.76087

In [59]:
contingency_table_wi3=pd.crosstab(df_wi_3["Gender"],df_wi_3["Impact resistance index"])
display(contingency_table_wi3)
chi2_wi3, p_wi3, dof_wi3, expected_wi3 = stats.chi2_contingency(contingency_table_wi3)
print('Chi Square Statistic = '+str(chi2_wi3))
print('p-value = '+str(p_wi3))
print('Degrees of Freedom: '+str(dof_wi3))
print('Expected frequencies: ')
display(pd.DataFrame(expected_wi3))

Impact resistance index   0   1   2  3  4  5
Gender
1                        29  21  14  6  3  1
2                        17   9   2  3  0  0

Chi Square Statistic = 5.1915914862969545
p-value = 0.3929485658877962
Degrees of Freedom: 5
Expected frequencies:

           0          1         2         3         4         5
0  32.419048  21.142857  11.27619  6.342857  2.114286  0.704762
1  13.580952   8.857143   4.72381  2.657143  0.885714  0.295238

In [60]:
contingency_table_wi4=pd.crosstab(df_wi_4["Gender"],df_wi_4["Impact resistance index"])
display(contingency_table_wi4)
chi2_wi4, p_wi4, dof_wi4, expected_wi4 = stats.chi2_contingency(contingency_table_wi4)
print('Chi Square Statistic = '+str(chi2_wi4))
print('p-value = '+str(p_wi4))
print('Degrees of Freedom: '+str(dof_wi4))
print('Expected frequencies: ')
display(pd.DataFrame(expected_wi4))

Impact resistance index   0   1   2  3  5
Gender
1                        20  27  17  2  0
2                        14   8   2  0  1

Chi Square Statistic = 9.714725959283234
p-value = 0.04551726926224434
Degrees of Freedom: 4
Expected frequencies:

           0          1         2         3         4
0  24.659341  25.384615  13.78022  1.450549  0.725275
1   9.340659   9.615385   5.21978  0.549451  0.274725

## CA

In [61]:
df_ca_1=df_Zambia[df_Zambia["Conservation Agriculture"] == 1]
df_ca_2=df_Zambia[df_Zambia["Conservation Agriculture"] == 2]

In [62]:
contingency_table_ca1=pd.crosstab(df_ca_1["Gender"],df_ca_1["Impact resistance index"])
display(contingency_table_ca1)
chi2_ca1, p_ca1, dof_ca1, expected_ca1 = stats.chi2_contingency(contingency_table_ca1)
print('Chi Square Statistic = '+str(chi2_ca1))
print('p-value = '+str(p_ca1))
print('Degrees of Freedom: '+str(dof_ca1))
print('Expected frequencies: ')
display(pd.DataFrame(expected_ca1))

Impact resistance index   0   1   2   3  4  5
Gender
1                        81  61  34  10  3  1
2                        47  25   6   4  0  1

Chi Square Statistic = 8.665965899245696
p-value = 0.12315263580421153
Degrees of Freedom: 5
Expected frequencies:

           0         1          2        3         4         5
0  89.084249  59.85348  27.838828  9.74359  2.087912  1.391941
1  38.915751  26.14652  12.161172  4.25641  0.912088  0.608059

In [63]:
contingency_table_ca2=pd.crosstab(df_ca_2["Gender"],df_ca_2["Impact resistance index"])
display(contingency_table_ca2)
chi2_ca2, p_ca2, dof_ca2, expected_ca2 = stats.chi2_contingency(contingency_table_ca2)
print('Chi Square Statistic = '+str(chi2_ca2))
print('p-value = '+str(p_ca2))
print('Degrees of Freedom: '+str(dof_ca2))
print('Expected frequencies: ')
display(pd.DataFrame(expected_ca2))

Impact resistance index   0   1  2  3
Gender
1                        34  20  4  1
2                        44  13  2  1

Chi Square Statistic = 3.425404962269369
p-value = 0.3305664940537495
Degrees of Freedom: 3
Expected frequencies:

           0          1        2         3
0  38.672269  16.361345  2.97479  0.991597
1  39.327731  16.638655  3.02521  1.008403

In [64]:
df_ir_1=df_Zambia[df_Zambia["Information"] == 1]
df_ir_2=df_Zambia[df_Zambia["Information"] == 2]
df_ir_3=df_Zambia[df_Zambia["Information"] == 3]
df_ir_4=df_Zambia[df_Zambia["Information"] == 4]
df_ir_5=df_Zambia[df_Zambia["Information"] == 5]
df_ir_6=df_Zambia[df_Zambia["Information"] == 6]
df_ir_7=df_Zambia[df_Zambia["Information"] == 7]

In [65]:
contingency_table_ir1=pd.crosstab(df_ir_1["Gender"],df_ir_1["Impact resistance index"])
display(contingency_table_ir1)
chi2_ir1, p_ir1, dof_ir1, expected_ir1 = stats.chi2_contingency(contingency_table_ir1)
print('Chi Square Statistic = '+str(chi2_ir1))
print('p-value = '+str(p_ir1))
print('Degrees of Freedom: '+str(dof_ir1))
print('Expected frequencies: ')
display(pd.DataFrame(expected_ir1))

Impact resistance index  5
Gender
1                        1

Chi Square Statistic = 0.0
p-value = 1.0
Degrees of Freedom: 0
Expected frequencies:

     0
0  1.0

In [66]:
contingency_table_ir2=pd.crosstab(df_ir_2["Gender"],df_ir_2["Impact resistance index"])
display(contingency_table_ir2)
chi2_ir2, p_ir2, dof_ir2, expected_ir2 = stats.chi2_contingency(contingency_table_ir2)
print('Chi Square Statistic = '+str(chi2_ir2))
print('p-value = '+str(p_ir2))
print('Degrees of Freedom: '+str(dof_ir2))
print('Expected frequencies: ')
display(pd.DataFrame(expected_ir2))

Impact resistance index  0  1  2  3  5
Gender
1                        5  3  2  2  0
2                        4  0  1  0  1

Chi Square Statistic = 5.0
p-value = 0.2872974951836458
Degrees of Freedom: 4
Expected frequencies:

     0    1    2         3         4
0  6.0  2.0  2.0  1.333333  0.666667
1  3.0  1.0  1.0  0.666667  0.333333

In [67]:
contingency_table_ir3=pd.crosstab(df_ir_3["Gender"],df_ir_3["Impact resistance index"])
display(contingency_table_ir3)
chi2_ir3, p_ir3, dof_ir3, expected_ir3 = stats.chi2_contingency(contingency_table_ir3)
print('Chi Square Statistic = '+str(chi2_ir3))
print('p-value = '+str(p_ir3))
print('Degrees of Freedom: '+str(dof_ir3))
print('Expected frequencies: ')
display(pd.DataFrame(expected_ir3))

Impact resistance index   0   1   2  3  4
Gender
1                        15  19  16  3  2
2                         6   6   3  2  0

Chi Square Statistic = 2.295824695428411
p-value = 0.6815293388526946
Degrees of Freedom: 4
Expected frequencies:

           0          1          2         3         4
0  16.041667  19.097222  14.513889  3.819444  1.527778
1   4.958333   5.902778   4.486111  1.180556  0.472222

In [68]:
contingency_table_ir4=pd.crosstab(df_ir_4["Gender"],df_ir_4["Impact resistance index"])
display(contingency_table_ir4)
chi2_ir4, p_ir4, dof_ir4, expected_ir4 = stats.chi2_contingency(contingency_table_ir4)
print('Chi Square Statistic = '+str(chi2_ir4))
print('p-value = '+str(p_ir4))
print('Degrees of Freedom: '+str(dof_ir4))
print('Expected frequencies: ')
display(pd.DataFrame(expected_ir4))

Impact resistance index   0   1  2  3  4
Gender
1                        21  19  6  4  1
2                        14  11  1  2  0

Chi Square Statistic = 2.2674169667867146
p-value = 0.6867074286167267
Degrees of Freedom: 4
Expected frequencies:

           0          1         2         3        4
0  22.594937  19.367089  4.518987  3.873418  0.64557
1  12.405063  10.632911  2.481013  2.126582  0.35443

In [69]:
contingency_table_ir5=pd.crosstab(df_ir_5["Gender"],df_ir_5["Impact resistance index"])
display(contingency_table_ir5)
chi2_ir5, p_ir5, dof_ir5, expected_ir5 = stats.chi2_contingency(contingency_table_ir5)
print('Chi Square Statistic = '+str(chi2_ir5))
print('p-value = '+str(p_ir5))
print('Degrees of Freedom: '+str(dof_ir5))
print('Expected frequencies: ')
display(pd.DataFrame(expected_ir5))

Impact resistance index   0   1  2  3
Gender
1                        33  13  8  2
2                        20  10  2  0

Chi Square Statistic = 2.84623227469823
p-value = 0.41594570058237046
Degrees of Freedom: 3
Expected frequencies:

           0          1         2         3
0  33.727273  14.636364  6.363636  1.272727
1  19.272727   8.363636  3.636364  0.727273

In [70]:
contingency_table_ir6=pd.crosstab(df_ir_6["Gender"],df_ir_6["Impact resistance index"])
display(contingency_table_ir6)
chi2_ir6, p_ir6, dof_ir6, expected_ir6 = stats.chi2_contingency(contingency_table_ir6)
print('Chi Square Statistic = '+str(chi2_ir6))
print('p-value = '+str(p_ir6))
print('Degrees of Freedom: '+str(dof_ir6))
print('Expected frequencies: ')
display(pd.DataFrame(expected_ir6))

Impact resistance index  0  1  2  3
Gender
1                        9  7  1  0
2                        6  3  0  1

Chi Square Statistic = 2.557058823529412
p-value = 0.4650674686679376
Degrees of Freedom: 3
Expected frequencies:

          0         1        2        3
0  9.444444  6.296296  0.62963  0.62963
1  5.555556  3.703704  0.37037  0.37037

In [71]:
contingency_table_ir7=pd.crosstab(df_ir_7["Gender"],df_ir_7["Impact resistance index"])
display(contingency_table_ir7)
chi2_ir7, p_ir7, dof_ir7, expected_ir7 = stats.chi2_contingency(contingency_table_ir7)
print('Chi Square Statistic = '+str(chi2_ir7))
print('p-value = '+str(p_ir7))
print('Degrees of Freedom: '+str(dof_ir7))
print('Expected frequencies: ')
display(pd.DataFrame(expected_ir7))

Impact resistance index   0   1  2
Gender
1                        32  20  5
2                        41   8  1

Chi Square Statistic = 8.497537107609205
p-value = 0.01428181036558589
Degrees of Freedom: 2
Expected frequencies:

          0          1         2
0  38.88785  14.915888  3.196262
1  34.11215  13.084112  2.803738

## Women group

In [72]:
df_wg_1=df_Zambia[df_Zambia["Women group"] == 1]
df_wg_2=df_Zambia[df_Zambia["Women group"] == 2]

In [73]:
contingency_table_wg1=pd.crosstab(df_wg_1["Gender"],df_wg_1["Impact resistance index"])
display(contingency_table_wg1)
chi2_wg1, p_wg1, dof_wg1, expected_wg1 = stats.chi2_contingency(contingency_table_wg1)
print('Chi Square Statistic = '+str(chi2_wg1))
print('p-value = '+str(p_wg1))
print('Degrees of Freedom: '+str(dof_wg1))
print('Expected frequencies: ')
display(pd.DataFrame(expected_wg1))

Impact resistance index   0   1   2  3  5
Gender
1                        17  29  17  3  1
2                        15   6   4  2  1

Chi Square Statistic = 8.991779780942228
p-value = 0.06130527606078542
Degrees of Freedom: 4
Expected frequencies:

           0          1          2         3         4
0  22.568421  24.684211  14.810526  3.526316  1.410526
1   9.431579  10.315789   6.189474  1.473684  0.589474

In [74]:
contingency_table_wg2=pd.crosstab(df_wg_2["Gender"],df_wg_2["Impact resistance index"])
display(contingency_table_wg2)
chi2_wg2, p_wg2, dof_wg2, expected_wg2 = stats.chi2_contingency(contingency_table_wg2)
print('Chi Square Statistic = '+str(chi2_wg2))
print('p-value = '+str(p_wg2))
print('Degrees of Freedom: '+str(dof_wg2))
print('Expected frequencies: ')
display(pd.DataFrame(expected_wg2))

Impact resistance index   0   1   2  3  4
Gender
1                        98  52  21  8  3
2                        76  32   4  3  0

Chi Square Statistic = 9.75837150812349
p-value = 0.04470063914404027
Degrees of Freedom: 4
Expected frequencies:

            0          1          2         3         4
0  106.626263  51.474747  15.319865  6.740741  1.838384
1   67.373737  32.525253   9.680135  4.259259  1.161616